@font-face {
    font-family: "Source Code Variable";
    src: url(source-code-pro/SourceCodePro-Regular.otf);
    font-weight: 200;
}

body {
    background: #ffffff;
    margin: 0;
    padding: 0;
    background: #ffffff;
    color: #4d4d4d;
    font-family: "Source Code Visable, Avenir Next", "Avenir", sans-serif;
}


/***
MENU START
***/


/*
.menu_logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px 0 16px;
    background: none;
}
*/

#navigation-logo img {
    width: 580px;
    height: 100px;
    padding-left: 50px;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
}

#main-menu,
#right-menu {}

#main-menu li,
#right-menu li {
    display: inline;
    padding: 10px 10px;
}

#navigation a {
    color: #000;
    font-weight: bold;
}

#navigation a:hover {
    text-decoration: underline;
}

#right-menu a {
    color: #9D1534;
    font-weight: bold;
}

#main-menu {
    padding-left: 50px;
}

#right-menu {
    float: right;
    margin-right: 50px;
    margin-top: 50px;
}


/***
MENU END
***/

.top-image {
    width: 100%;
    height: 250px;
    background-size: cover;
}

#top-image-index {
    background-image: url(images/scott-webb-102177-unsplash.jpg);
}

#top-image-about {
    background-image: url(images/curtis-macnewton-316895-unsplash.jpg);
}

#top-image-kids {
    background-image: url(images/reading-2762010_1280.jpg);
}

#top-image-teachers {
    background-image: url(images/people-219985_1280.jpg);
}

.page-image {
    width: 100%;
    height: auto;
}

h2 {
    font-size: 20px;
    font-weight: 200;
}

.section-header,
.section-header h1 {
    font-size: 18px;
    font-weight: 100;
    text-align: center;
    margin: 30px 0;
    padding: 25px 10px;
    font-weight: bold;
    color: #4d4d4d;
    background: #FFD73C;
}

.section-header h1 {
    margin: 0;
}

.subtitle {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

p {
    font-size: 14px;
    font-weight: 200;
    margin: 10px 0;
    padding: 10px 20px;
    margin: 0;
}

.text-center {
    text-align: center;
}

#page-footer a {
    color: #fff;
}

#page-footer a:hover {
    text-decoration: underline;
}

.container_primarybutton {
    text-align: center;
    margin-bottom: 15px;
}

.primarybutton {
    display: inline-block;
    /* to make it size properly */
    background: #175E36;
    color: #ffffff;
    border-radius: 10px;
    text-decoration: none;
    padding: 15px 15px;
    font-size: 16px;
    font-weight: bold;
}

.primarybutton:hover {
    border-radius: 10px;
    color: #fff;
}

.opening-hours {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 0;
    padding: 16px 10px;
}


/* circles on the explore page*/

.grid {
    width: 100%;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.circle-item {
    border-radius: 65px;
    height: 130px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    -webkit-transition: all 0.2s;
    /* Safari */
    transition: all 0.2s;
}

.circle-container a {
    color: #ffffff;
}

.circle-container a:hover {
    color: #FF8C1A;
}

.background-purple {
    background: #9D1534;
}

.background-yellow {
    background: #015288;
}

.background-green {
    background: #175E36;
}

.circle-item:hover {
    -ms-transform: scale(1.2, 1.2);
    /* IE 9 */
    -webkit-transform: scale(1.2, 1.2);
    /* Safari */
    transform: scale(1.2, 1.2);
}

a {
    text-decoration: none;
}


/* ticket page*/

.dropdown select {
    border: 0 !important;
    background: #4d4d4d;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    margin: 20px 20px;
    width: 150px;
    height: 30px;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
}

fieldset {
    border: none;
}

.ticket-qty-minus,
.ticket-qty-plus {
    background: none;
    border: none;
}

.ticket-button {
    background: #eee;
    border-radius: 5px;
    padding: 20px 30px;
}

.option-item {
    display: flex;
    align-items: center;
    margin: 20px 20px;
}

.option-text {
    max-width: 260px;
    width: 28%;
}

.option-price {
    width: 85px;
}

.continue-button {
    background-color: #4d4d4d;
    text-align: center;
    color: #ffffff;
    max-width: 260px;
    width: 28%;
    border: none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 10px;
    margin: 20px 20px;
}

#page-footer {
    background: #175E36;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0 0 0;
    font-weight: 100;
    padding: 30px 0px;
    color: #ffffff;
}

#page-footer .footer-item {
    text-align: center;
    width: 100%;
    padding: 20px 15px;
}

.logo-footer {
    height: 73px;
    width: 200px;
}


/* desktop */

@media only screen and (min-width: 600px) {
    #menu {
        width: auto;
        padding-left: 40px;
        padding-right: 40px;
    }
    .top-image {
        height: 500px;
        background-position: center;
    }
    p {
        font-size: 16px;
    }
    h3 {
        font-size: 25px;
    }
    h4 {
        font-size: 18px;
    }
    .flexbox-container {
        display: flex;
        justify-content: center;
        max-width: 900px;
        margin: 0 auto;
    }
    .flexbox-container>div {
        flex-grow: 1;
        flex-basis: 0;
    }
    #page-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #page-footer .footer-item {
        width: auto;
    }
    .opening-hours {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .grid {
        flex-direction: row;
        justify-content: space-around;
        min-height: 70vh;
    }
    .circle-item {
        border-radius: 100px;
        width: 200px;
        height: 200px;
    }
}